<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />		  
  	
  </head>
  <body>
  <p>usuario igomez0</p>
  <p> Iñigo Gómez </p>
  
  <img alt="igomez0" src="igomez0.jpg" />
	      
  </body>
</html>
